<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite" preserve-order="true">
    <listeners>
        <listener class-name="org.example.tests.ExtentReportListener"/>
    </listeners>
<test name="LoginTest">
    <classes>
        <class name="org.example.tests.LoginPageTest">
        <methods>
            <include name=" verifyHomePageLoadsSuccessfully"/>
            <include name="verifyUserLoginIsSuccessful" />
        </methods>
        </class>
    </classes>
</test>
</suite>

